In [10]:
import pandas as pd

In [11]:
df_accident = pd.read_csv("data/ACCIDENT.csv")
df_accident_location = pd.read_csv("data/ACCIDENT_LOCATION.csv")
df_accident_event = pd.read_csv("data/ACCIDENT_EVENT.csv")
df_accident_chainage = pd.read_csv("data/ACCIDENT_CHAINAGE.csv")
df_atmospheric_cond = pd.read_csv("data/ATMOSPHERIC_COND.csv")
df_subdca = pd.read_csv("data/SUBDCA.csv")
df_person = pd.read_csv("data/PERSON.csv")
df_road_surface_condition = pd.read_csv("data/ROAD_SURFACE_COND.csv")
df_vehicle = pd.read_csv("data/VEHICLE.csv")
df_node = pd.read_csv("data/NODE.csv")

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (10,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (6,9,10,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (3,25,26,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [31]:
df_accident.head(10)

,ACCIDENT_NO,ACCIDENTDATE,ACCIDENTTIME,ACCIDENT_TYPE,Accident Type Desc,DAY_OF_WEEK,Day Week Description,DCA_CODE,DCA Description,DIRECTORY,...,NO_PERSONS,NO_PERSONS_INJ_2,NO_PERSONS_INJ_3,NO_PERSONS_KILLED,NO_PERSONS_NOT_INJ,POLICE_ATTEND,ROAD_GEOMETRY,Road Geometry Desc,SEVERITY,SPEED_ZONE
0,T20060000010,13/01/2006,12:42:00,1,Collision with vehicle,6,Friday,113,RIGHT NEAR (INTERSECTIONS ONLY),MEL,...,6,0,1,0,5,1,1,Cross intersection,3,60
1,T20060000018,13/01/2006,19:10:00,1,Collision with vehicle,6,Friday,113,RIGHT NEAR (INTERSECTIONS ONLY),MEL,...,4,0,1,0,3,1,2,T intersection,3,70
2,T20060000022,14/01/2006,12:10:00,7,Fall from or in moving vehicle,7,Saturday,190,FELL IN/FROM VEHICLE,MEL,...,2,1,0,0,1,1,5,Not at intersection,2,100
3,T20060000023,14/01/2006,11:49:00,1,Collision with vehicle,7,Saturday,130,REAR END(VEHICLES IN SAME LANE),MEL,...,2,1,0,0,1,1,2,T intersection,2,80
4,T20060000026,14/01/2006,10:45:00,1,Collision with vehicle,7,Saturday,121,RIGHT THROUGH,MEL,...,3,0,3,0,0,1,5,Not at intersection,3,50
5,T20060000028,14/01/2006,16:15:00,1,Collision with vehicle,7,Saturday,116,LEFT NEAR (INTERSECTIONS ONLY),MEL,...,2,1,0,0,1,1,1,Cross intersection,2,100
6,T20060000035,15/01/2006,10:55:00,4,Collision with a fixed object,1,Sunday,171,LEFT OFF CARRIAGEWAY INTO OBJECT/PARKED VEHICL...,VCS,...,1,1,0,0,0,1,5,Not at intersection,2,100
7,T20060000042,15/01/2006,22:00:00,4,Collision with a fixed object,1,Sunday,171,LEFT OFF CARRIAGEWAY INTO OBJECT/PARKED VEHICL...,MEL,...,1,1,0,0,0,1,5,Not at intersection,2,70
8,T20060000044,16/01/2006,08:55:00,1,Collision with vehicle,2,Monday,140,U TURN,MEL,...,5,2,2,0,1,1,2,T intersection,2,80
9,T20060000046,16/01/2006,11:00:00,2,Struck Pedestrian,2,Monday,109,ANY MANOEUVRE INVOLVING PED NOT INCLUDED IN DC...,MEL,...,2,0,1,0,1,1,5,Not at intersection,3,60

In [13]:
df_accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203708 entries, 0 to 203707
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ACCIDENT_NO           203708 non-null  object
 1   ACCIDENTDATE          203708 non-null  object
 2   ACCIDENTTIME          203708 non-null  object
 3   ACCIDENT_TYPE         203708 non-null  int64
 4   Accident Type Desc    203708 non-null  object
 5   DAY_OF_WEEK           203708 non-null  int64
 6   Day Week Description  203708 non-null  object
 7   DCA_CODE              203708 non-null  int64
 8   DCA Description       203708 non-null  object
 9   DIRECTORY             201360 non-null  object
 10  EDITION               201360 non-null  object
 11  PAGE                  201360 non-null  object
 12  GRID_REFERENCE_X      201360 non-null  object
 13  GRID_REFERENCE_Y      201360 non-null  object
 14  LIGHT_CONDITION       203708 non-null  int64
 15  Light Condition Desc  203708 non-null  object
 16  NODE_ID               203708 non-null  int64
 17  NO_OF_VEHICLES        203708 non-null  int64
 18  NO_PERSONS            203708 non-null  int64
 19  NO_PERSONS_INJ_2      203708 non-null  int64
 20  NO_PERSONS_INJ_3      203708 non-null  int64
 21  NO_PERSONS_KILLED     203708 non-null  int64
 22  NO_PERSONS_NOT_INJ    203708 non-null  int64
 23  POLICE_ATTEND         203708 non-null  int64
 24  ROAD_GEOMETRY         203708 non-null  int64
 25  Road Geometry Desc    203708 non-null  object
 26  SEVERITY              203708 non-null  int64
 27  SPEED_ZONE            203708 non-null  int64
dtypes: int64(15), object(13)
memory usage: 43.5+ MB

In [32]:
df_accident.drop(columns=['Accident Type Desc', 'Day Week Description', 'DCA Description', 'DIRECTORY', 'EDITION', 'PAGE', 'GRID_REFERENCE_X', 'GRID_REFERENCE_Y', 'Light Condition Desc'])

# Use Columns ['ACCIDENT_NO', 'ACCIDENTDATE', 'ACCIDENTTIME', 'ACCIDENT_TYPE', 'DAY_OF_WEEK', 'DCA_CODE', 'LIGHT_CONDITION', 'NODE_ID']

array(['MEL', 'VCS', nan, 'VCD', ' '], dtype=object)

In [15]:
df_accident_event.head()

,ACCIDENT_NO,EVENT_SEQ_NO,EVENT_TYPE,Event Type Desc,VEHICLE_1_ID,VEHICLE_1_COLL_PT,Vehicle 1 Coll Pt Desc,VEHICLE_2_ID,VEHICLE_2_COLL_PT,Vehicle 2 Coll Pt Desc,PERSON_ID,OBJECT_TYPE,Object Type Desc
0,T20060000010,1.0,C,Collision,B,2,Right side (forwards),A,F,Front,,99.0,Not Applicable
1,T20060000018,1.0,C,Collision,B,F,Front,A,9,Not known or Not Applicable,,99.0,Not Applicable
2,T20060000022,1.0,2,Fell from vehicle,A,9,Not known or Not Applicable,,,,01,99.0,Not Applicable
3,T20060000023,1.0,C,Collision,A,F,Front,B,R,Rear,,99.0,Not Applicable
4,T20060000026,1.0,C,Collision,A,9,Not known or Not Applicable,B,9,Not known or Not Applicable,,99.0,Not Applicable

In [16]:
df_accident_event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326638 entries, 0 to 326637
Data columns (total 13 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ACCIDENT_NO             326638 non-null  object
 1   EVENT_SEQ_NO            326634 non-null  float64
 2   EVENT_TYPE              326634 non-null  object
 3   Event Type Desc         326638 non-null  object
 4   VEHICLE_1_ID            326634 non-null  object
 5   VEHICLE_1_COLL_PT       326634 non-null  object
 6   Vehicle 1 Coll Pt Desc  326638 non-null  object
 7   VEHICLE_2_ID            326634 non-null  object
 8   VEHICLE_2_COLL_PT       326634 non-null  object
 9   Vehicle 2 Coll Pt Desc  326638 non-null  object
 10  PERSON_ID               326634 non-null  object
 11  OBJECT_TYPE             326634 non-null  float64
 12  Object Type Desc        326638 non-null  object
dtypes: float64(2), object(11)
memory usage: 32.4+ MB

In [17]:
df_accident_chainage.head()

  Node Id  Route No  Chainage Seq  Route Link No  Chainage
0       4  109454.0           1.0    109454801.0     908.0
1       4  114095.0           2.0    114095801.0     559.0
2       6  183250.0           1.0    183250801.0    2536.0
3       6  216298.0           2.0    216298801.0     528.0
4      11    2500.0           1.0     25008008.0     801.0

In [18]:
df_accident_chainage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173557 entries, 0 to 173556
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Node Id        173556 non-null  object
 1   Route No       173556 non-null  float64
 2   Chainage Seq   173556 non-null  float64
 3   Route Link No  173556 non-null  float64
 4   Chainage       173556 non-null  float64
dtypes: float64(4), object(1)
memory usage: 6.6+ MB

In [19]:
df_accident_location.head()

,ACCIDENT_NO,NODE_ID,ROAD_ROUTE_1,ROAD_NAME,ROAD_TYPE,ROAD_NAME_INT,ROAD_TYPE_INT,DISTANCE_LOCATION,DIRECTION_LOCATION,NEAREST_KM_POST,OFF_ROAD_LOCATION
0,T20060000010,43078,2090.0,FOSTER,STREET,MCCRAE,STREET,0.0,SW,NaN,NaN
1,T20060000018,29720,5057.0,HALLAM,ROAD,BELGRAVE-HALLAM,ROAD,70.0,S,NaN,NaN
2,T20060000022,203074,9999.0,BROWNS,ROAD,TRUEMANS,ROAD,210.0,W,NaN,NaN
3,T20060000023,55462,2400.0,SPRINGVALE,ROAD,KEYSBOROUGH,AVENUE,0.0,N,NaN,NaN
4,T20060000026,202988,9999.0,ELIZABETH,AVENUE,GREENHOOD,CRESCENT,20.0,N,NaN,NaN

In [20]:
df_accident_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203708 entries, 0 to 203707
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ACCIDENT_NO         203708 non-null  object
 1   NODE_ID             203708 non-null  int64
 2   ROAD_ROUTE_1        202878 non-null  float64
 3   ROAD_NAME           202702 non-null  object
 4   ROAD_TYPE           200309 non-null  object
 5   ROAD_NAME_INT       201886 non-null  object
 6   ROAD_TYPE_INT       200211 non-null  object
 7   DISTANCE_LOCATION   202878 non-null  float64
 8   DIRECTION_LOCATION  202878 non-null  object
 9   NEAREST_KM_POST     45 non-null      float64
 10  OFF_ROAD_LOCATION   21924 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 17.1+ MB

In [21]:
df_atmospheric_cond.head()

    ACCIDENT_NO  ATMOSPH_COND  ATMOSPH_COND_SEQ Atmosph Cond Desc
0  T20060000010             1                 1             Clear
1  T20060000018             1                 1             Clear
2  T20060000022             1                 1             Clear
3  T20060000023             1                 1             Clear
4  T20060000026             1                 1             Clear

In [22]:
df_atmospheric_cond.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206958 entries, 0 to 206957
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ACCIDENT_NO        206958 non-null  object
 1   ATMOSPH_COND       206958 non-null  int64
 2   ATMOSPH_COND_SEQ   206958 non-null  int64
 3   Atmosph Cond Desc  206958 non-null  object
dtypes: int64(2), object(2)
memory usage: 6.3+ MB

In [23]:
df_vehicle.head()

,ACCIDENT_NO,VEHICLE_ID,VEHICLE_YEAR_MANUF,VEHICLE_DCA_CODE,INITIAL_DIRECTION,ROAD_SURFACE_TYPE,Road Surface Type Desc,REG_STATE,VEHICLE_BODY_STYLE,VEHICLE_MAKE,...,VEHICLE_COLOUR_1,VEHICLE_COLOUR_2,CAUGHT_FIRE,INITIAL_IMPACT,LAMPS,LEVEL_OF_DAMAGE,OWNER_POSTCODE,TOWED_AWAY_FLAG,TRAFFIC_CONTROL,Traffic Control Desc
0,T20060000010,A,1996.0,2,SW,1,Paved,V,SEDAN,MITSUB,...,MRN,ZZ,2,F,2,3,3130.0,1,1,Stop-go lights
1,T20060000010,B,2003.0,1,NW,1,Paved,V,COUPE,UNKN,...,BLU,ZZ,2,2,2,3,3977.0,1,1,Stop-go lights
2,T20060000010,C,2001.0,8,NW,1,Paved,V,SEDAN,FORD,...,YLW,ZZ,2,F,2,2,3804.0,2,1,Stop-go lights
3,T20060000018,A,1998.0,2,S,1,Paved,V,DC UTE,TOYOTA,...,GRY,ZZ,2,9,0,3,3175.0,1,0,No control
4,T20060000018,B,1991.0,1,N,1,Paved,V,SEDAN,SUBARU,...,BLU,ZZ,2,F,0,5,3805.0,1,11,Giveway sign

In [24]:
df_vehicle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365242 entries, 0 to 365241
Data columns (total 38 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ACCIDENT_NO             365242 non-null  object
 1   VEHICLE_ID              365242 non-null  object
 2   VEHICLE_YEAR_MANUF      342384 non-null  float64
 3   VEHICLE_DCA_CODE        365242 non-null  object
 4   INITIAL_DIRECTION       365242 non-null  object
 5   ROAD_SURFACE_TYPE       365242 non-null  int64
 6   Road Surface Type Desc  365242 non-null  object
 7   REG_STATE               365242 non-null  object
 8   VEHICLE_BODY_STYLE      365242 non-null  object
 9   VEHICLE_MAKE            365242 non-null  object
 10  VEHICLE_MODEL           365242 non-null  object
 11  VEHICLE_POWER           2 non-null       float64
 12  VEHICLE_TYPE            365242 non-null  int64
 13  Vehicle Type Desc       365242 non-null  object
 14  VEHICLE_WEIGHT          46159 non-null   float64
 15  CONSTRUCTION_TYPE       365242 non-null  object
 16  FUEL_TYPE               365242 non-null  object
 17  NO_OF_WHEELS            294157 non-null  float64
 18  NO_OF_CYLINDERS         301994 non-null  float64
 19  SEATING_CAPACITY        279942 non-null  float64
 20  TARE_WEIGHT             324512 non-null  float64
 21  TOTAL_NO_OCCUPANTS      365235 non-null  float64
 22  CARRY_CAPACITY          70394 non-null   float64
 23  CUBIC_CAPACITY          43322 non-null   object
 24  FINAL_DIRECTION         365242 non-null  object
 25  DRIVER_INTENT           365242 non-null  object
 26  VEHICLE_MOVEMENT        365242 non-null  object
 27  TRAILER_TYPE            365242 non-null  object
 28  VEHICLE_COLOUR_1        365242 non-null  object
 29  VEHICLE_COLOUR_2        365242 non-null  object
 30  CAUGHT_FIRE             365242 non-null  int64
 31  INITIAL_IMPACT          365242 non-null  object
 32  LAMPS                   365242 non-null  int64
 33  LEVEL_OF_DAMAGE         365242 non-null  int64
 34  OWNER_POSTCODE          329238 non-null  float64
 35  TOWED_AWAY_FLAG         365242 non-null  object
 36  TRAFFIC_CONTROL         365242 non-null  object
 37  Traffic Control Desc    365242 non-null  object
dtypes: float64(10), int64(5), object(23)
memory usage: 105.9+ MB

In [25]:
df_person.head()

,ACCIDENT_NO,PERSON_ID,VEHICLE_ID,SEX,AGE,Age Group,INJ_LEVEL,Inj Level Desc,SEATING_POSITION,HELMET_BELT_WORN,ROAD_USER_TYPE,Road User Type Desc,LICENCE_STATE,PEDEST_MOVEMENT,POSTCODE,TAKEN_HOSPITAL,EJECTED_CODE
0,T20060000010,01,A,F,NaN,unknown,4,Not injured,LF,1,3,Passengers,,0,3130.0,,0
1,T20060000010,02,C,M,43.0,40-49,4,Not injured,LF,1,3,Passengers,,0,7310.0,,0
2,T20060000010,03,C,M,22.0,22-25,4,Not injured,LR,1,3,Passengers,,0,7310.0,,0
3,T20060000010,A,A,M,72.0,70+,4,Not injured,D,1,2,Drivers,V,0,3130.0,,0
4,T20060000010,B,B,F,62.0,60-64,3,Other injury,D,1,2,Drivers,V,0,NaN,N,0

In [26]:
df_person.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490948 entries, 0 to 490947
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ACCIDENT_NO          490948 non-null  object
 1   PERSON_ID            490948 non-null  object
 2   VEHICLE_ID           490948 non-null  object
 3   SEX                  490948 non-null  object
 4   AGE                  469319 non-null  float64
 5   Age Group            490948 non-null  object
 6   INJ_LEVEL            490948 non-null  object
 7   Inj Level Desc       490948 non-null  object
 8   SEATING_POSITION     469659 non-null  object
 9   HELMET_BELT_WORN     490948 non-null  object
 10  ROAD_USER_TYPE       490948 non-null  object
 11  Road User Type Desc  490948 non-null  object
 12  LICENCE_STATE        490948 non-null  object
 13  PEDEST_MOVEMENT      490948 non-null  object
 14  POSTCODE             416854 non-null  float64
 15  TAKEN_HOSPITAL       490948 non-null  object
 16  EJECTED_CODE         490948 non-null  object
dtypes: float64(2), object(15)
memory usage: 63.7+ MB

In [27]:
df_node.head()

,ACCIDENT_NO,NODE_ID,NODE_TYPE,VICGRID94_X,VICGRID94_Y,LGA_NAME,LGA_NAME_ALL,REGION_NAME,DEG_URBAN_NAME,Lat,Long,POSTCODE_NO
0,T20060002689,22,I,2495701.925,2411599.135,MELBOURNE,MELBOURNE,METROPOLITAN NORTH WEST REGION,MELB_URBAN,-37.796596,144.951197,3051
1,T20060010827,22,I,2495701.925,2411599.135,MELBOURNE,MELBOURNE,METROPOLITAN NORTH WEST REGION,MELB_URBAN,-37.796596,144.951197,3051
2,T20060017279,22,I,2495701.925,2411599.135,MELBOURNE,MELBOURNE,METROPOLITAN NORTH WEST REGION,MELB_URBAN,-37.796596,144.951197,3051
3,T20060041762,22,I,2495701.925,2411599.135,MELBOURNE,MELBOURNE,METROPOLITAN NORTH WEST REGION,MELB_URBAN,-37.796596,144.951197,3051
4,T20060047478,22,I,2495701.925,2411599.135,MELBOURNE,MELBOURNE,METROPOLITAN NORTH WEST REGION,MELB_URBAN,-37.796596,144.951197,3051

In [28]:
df_node.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221797 entries, 0 to 221796
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ACCIDENT_NO     221797 non-null  object
 1   NODE_ID         221797 non-null  int64
 2   NODE_TYPE       221797 non-null  object
 3   VICGRID94_X     221797 non-null  float64
 4   VICGRID94_Y     221797 non-null  float64
 5   LGA_NAME        221797 non-null  object
 6   LGA_NAME_ALL    221797 non-null  object
 7   REGION_NAME     221797 non-null  object
 8   DEG_URBAN_NAME  221797 non-null  object
 9   Lat             221797 non-null  float64
 10  Long            221797 non-null  float64
 11  POSTCODE_NO     221797 non-null  int64
dtypes: float64(4), int64(2), object(6)
memory usage: 20.3+ MB

In [29]:
df_road_surface_condition.head()

    ACCIDENT_NO  SURFACE_COND Surface Cond Desc  SURFACE_COND_SEQ
0  T20060000010             1               Dry                 1
1  T20060000018             1               Dry                 1
2  T20060000022             1               Dry                 1
3  T20060000023             1               Dry                 1
4  T20060000026             1               Dry                 1

In [30]:
df_road_surface_condition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205030 entries, 0 to 205029
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ACCIDENT_NO        205030 non-null  object
 1   SURFACE_COND       205030 non-null  int64
 2   Surface Cond Desc  205030 non-null  object
 3   SURFACE_COND_SEQ   205030 non-null  int64
dtypes: int64(2), object(2)
memory usage: 6.3+ MB

In [6]:
df_accident["price"].describe()

count    300153.000000
mean      20889.660523
std       22697.767366
min        1105.000000
25%        4783.000000
50%        7425.000000
75%       42521.000000
max      123071.000000
Name: price, dtype: float64

In [7]:
df_accident.shape

(300153, 12)

In [8]:
df_accident.nunique()

Unnamed: 0          300153
airline                  6
flight                1561
source_city              6
departure_time           6
stops                    3
arrival_time             6
destination_city         6
class                    2
duration               476
days_left               49
price                12157
dtype: int64

In [9]:
df_accident.isna().sum()

Unnamed: 0          0
airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
dtype: int64

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=c302eb41-8fd3-40b0-a2f8-14b0852194c0' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>